* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}


.nav-belt{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    
}

.nav-logo{
    height: 50px;
    width: 100px;
}


.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
    /* padding: 1px 8px 0 6px; */
}


.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;

}

/**box-2**/

/* .nav-global-location{
    padding: 0 8px 0 18px;
} */
.address-line1{
color:#cccccc;
font-size: .80rem;
margin-left: 15px;
}


.address-line2{
font-size: 1.2rem;
margin-left: 3px;
}

.golbal-location-icon{
    display: flex;
    align-items: center;
}



/**box-3**/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    height: 40px;
    border-radius:4px;
    border-radius: 4px;
   
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;
    border: none;
}


.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    background-color: #febd68;
    border-top-right-radius:4px;
    border-bottom-right-radius: 4px;
    color:#0f1111;
}

.nav-search:hover{
    border: 2px solid orange;
}




/**box-4**/

span{
    font-size: 0.7rem;
}

.nav-line2{
    font-size: 0.85rem;
    font-weight: 700;
}

/**box6**/

.nav-cart i {
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}



/** nav-main**/


.nav-main{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color:white;
    align-items: center;
    padding-inline-start: 30px;
}

.nav-main-all{
    padding-block: 10px;
}
.nav-main-options p{
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
    padding-block: 10px;
}

.nav-main-options{
    width: 70%;
    font-size:0.85rem;
}


/**slider-box**/


.slider-box{
    background-image:url("Hero_img1.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center; 
   
}
.slider-box img{
   
    height: 600px;
}

.Slider-box-msg{
    
}
    
